
{% load bootstrap3 %}

<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Sanskrit Annotator</title>
	<meta charset="utf-8">
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Shortlist</h3>
					</div>
					<div class="panel-body">
						<form method="POST" class="post-form">
							{% csrf_token %}
					        {% bootstrap_form form layout='inline'%}
					        <button type="submit" class="save btn btn-primary">Go</button>
					    </form>
					</div>
					<div class="panel-footer">
						<ul class="list-group">
							{% for word in words %}
								<li class="list-group-item">
									<a href="{% url 'change_word' word.id %}">{{word.text}}</a>
								</li>	    
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-4">
								<h4 class="panel-title">Sentence {{word_current.sent_id}} </h4>
							</div>
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<h3 class="panel-title">Status : {{numDone}} / {{numTotal}} Words</h3>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-10">
								<h3>
									{% for w in word_current.sent.word_set.all %}
											{% if w.id == word_current.id %}
												<u><a href="#">{{w.text}}</a></u>
											{% else %}
												<a href="{% url 'change_word' w.id %}">{{w.text}}</a>
											{% endif %}
									{% endfor %}
								</h3>
							</div>
							<div class="col-md-2">
								<h3>
									<a class="btn btn-info btn-sm" target="_blank" href="http://sanskrit.inria.fr/cgi-bin/SKT/sktgraph?lex=SH&st=t&us=f&cp=t&text=

									{% for w in word_current.sent.word_set.all %}
										{{w.text}}+
									{% endfor %}

									&t=WX&topic=&mode=g&corpmode=&corpdir=&sentno=">Sanskrit Segmenter</a>
								</h3>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-4">
								{% include "word_panel.html" with word=word_parent %}
							</div>
							<div class="col-md-4">
								{% include "word_panel.html" with word=word_current %}
							</div>
							<div class="col-md-4">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">Childs : {{word_childs.count}}</h3>
									</div>
									<!-- <div class="panel-body">
										<ul class="list-group">
											{% for c in word_childs %}
												<li class="list-group-item">
													<a href="{% url 'change_word' c.id %}">{{c.text}}</a>
													<table class="table table-striped">
														<tr>
															<td>POS</td>
															<td>{{c.POS}}</td>
														</tr>
														<tr>
															<td>dep</td>
															<td>{{c.dep}}</td>
														</tr>
													</table>
												</li>	    
											{% endfor %}
										</ul>
									</div> -->
									<div class="panel-footer">
										{% for c in word_childs %}
											{% include "word_panel.html" with word=c %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>