
{% load bootstrap3 %}

<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Sanskrit Annotator</title>
	<meta charset="utf-8">
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				{% include "search_panel.html" with from=form words=words %}
			</div>
			<div class="col-md-10">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-4">
								<h4 class="panel-title">Sentence {{word_current.sent_id}} </h4>
							</div>
							<div class="col-md-4">
								<a class="btn btn-info btn-xs" href="{% url 'change_encoding' %} " title=" Change to {% if request.session.wx %}Devnagari{% else %}WX{% endif %} encoding
								">
									{% if request.session.wx %}
										Devnagari
									{% else %}
										WX
									{% endif %}
								</a>
							</div>
							<div class="col-md-3">
								<h3 class="panel-title">Status : {{numDone}} / {{numTotal}} Words</h3>
							</div>
							<div class="col-md-1">
								<a class="btn btn-info btn-xs" href="{% url 'logout' %} "
								">Logout</a>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-10">
								<h3>
									{% for w in word_current.sent.word_set.all %}
											{% if w.id == word_current.id %}
												<u>
											{% endif %}
											<a href="{% url 'change_word' w.id %} " title="POS : {{w.POS}}
dep : {{w.dep}}">
												{% if request.session.wx %}
													{{w.text}}
												{% else %}
													{{w.devnagari}}
												{% endif %}
											</a>
											{% if w.id == word_current.id %}
												</u>
											{% endif %}
									{% endfor %}
								</h3>
							</div>
							<div class="col-md-2">
								<h3>
									<a class="btn btn-info btn-xs" target="_blank" href="http://sanskrit.inria.fr/cgi-bin/SKT/sktgraph?lex=SH&st=t&us=f&cp=t&text=

									{% for w in word_current.sent.word_set.all %}
										{{w.text}}+
									{% endfor %}

									&t=WX&topic=&mode=g&corpmode=&corpdir=&sentno=">Sanskrit Segmenter</a>
								</h3>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-4">
								{% include "word_panel.html" with word=word_parent type="Parent" %}
							</div>
							<div class="col-md-4">
								{% include "word_panel.html" with word=word_current type="Word" %}
							</div>
							<div class="col-md-4">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">Childs : {{word_childs.count}}</h3>
									</div>
									<!-- <div class="panel-body">
										<ul class="list-group">
											{% for c in word_childs %}
												<li class="list-group-item">
													<a href="{% url 'change_word' c.id %}">{{c.text}}</a>
													<table class="table table-striped">
														<tr>
															<td>POS</td>
															<td>{{c.POS}}</td>
														</tr>
														<tr>
															<td>dep</td>
															<td>{{c.dep}}</td>
														</tr>
													</table>
												</li>	    
											{% endfor %}
										</ul>
									</div> -->
									<div class="panel-footer">
										{% for c in word_childs %}
											{% include "word_panel.html" with word=c type="Child" %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>