{% load bootstrap3 %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Shortlist Words</h3>
	</div>
	<div class="panel-body">
		<form method="POST" class="post-form">
			{% csrf_token %}
	        {% bootstrap_form form layout='inline'%}
	        <button type="submit" class="save btn btn-primary">Go</button>
	    </form>
	</div>
	<div class="panel-footer">
		<a class="btn btn-info btn-xs" href="{% url 'change_all' %} " title=" View {% if request.session.all %}10{% else %}all{% endif %} words
								">
			{% if request.session.all %}
				Show only 10 word
			{% else %}
				Show All words
			{% endif %}
		</a>

		<ul class="list-group">
			{% for word in words %}
				<li class="list-group-item">
					<a href="{% url 'change_word' word.id %}" title="POS : {{word.POS}}
dep : {{word.dep}}"><span class="text-nowrap">{{word.text}} ({{word.devnagari}})</span></a>
				</li>	    
			{% endfor %}
		</ul>
	</div>
</div>