{% load bootstrap3 %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Shortlist Words</h3>
	</div>
	<div class="panel-body">
		<form method="POST" class="post-form">
			{% csrf_token %}
	        {% bootstrap_form form layout='inline'%}
	        <button type="submit" class="save btn btn-primary">Go</button>
	    </form>
	</div>
	<div class="panel-footer">
		<ul class="list-group">
			{% for word in words %}
				<li class="list-group-item">
					<a href="{% url 'change_word' word.id %}" title="POS : {{word.POS}} dep : {{word.dep}}">{{word.text}}</a>
				</li>	    
			{% endfor %}
		</ul>
	</div>
</div>